# Eclipse project files
.project
.settings/

# Erlang project stuff
deps/
ebin/

# Common project stuff
build/
tmp/

# Editor droppings
*~
*.bak

# Runtime droppings
log/*
*.dump
*.log
*.tmp

# Compiled binaries
*.o
*.a
*.so
*.so.*
*.dylib
*.app
