# Project files
.project
.settings/
.idea/
*.iml

# Erlang project stuff
deps/
ebin/

# Common project stuff
build/
tmp/
env

# Editor droppings
*~
*.bak

# Runtime droppings
log/*
*.dump
*.log
*.tmp

# Compiled binaries
*.beam
*.o
*.a
*.so
*.so.*
*.dylib
*.app
